html,body{
    margin:0;
    padding:0;
    color:#333;
    font-family:'微软雅黑',sans-serif;
}
.container{
    width:60%;
    background: #fdfff4;
    margin:0 auto;
    overflow: hidden;
    box-shadow: 0 0 27px -1px rgba(0,0,0,0.2);
    padding-left:15px;
    padding-right:15px;
}
.captionAll{
    color:#999;
}
h2{
    text-align: center;
}
p{
    text-indent:2em;
}
button{
    width:80px;height:40px
}
.intro{
    position: fixed;
    right:40px;
    top:30px;
}
pre{
    width:60%;
    font-family: '微软雅黑',sans-serif;
    background:#f8f8f8;
    font-size:14px;
    color:#333;
    box-shadow: 0 0 27px -1px rgba(0,0,0,0.2);
    position: fixed;
    top:40px;
    margin:0 auto;
    left:0;
    right:0;
    display: none;
}
.success{
    color:#5bb75b;
}
.primary{
    color:#0044cc;
}
.info{
    color:#2f96b4;
}
.warning{
    color:#faa732;
}
.danger{
    color:#da4f49;
}